openapi: 3.0.3
info:
  title: Trustpilot Business Units Product Reviews API
  description: Provides endpoints to retrieve company profile information, reviews, images, categories, and web links for specific business units on Trustpilot. Search for business units and access both public and private review data.
  version: 1.0.0
  contact:
    url: https://developers.trustpilot.com/
  termsOfService: https://www.trustpilot.com/legal/terms-and-conditions-for-businesses
servers:
- url: https://api.trustpilot.com
  description: Production
tags:
- name: Product Reviews
  description: Product review retrieval operations
paths:
  /v1/product-reviews/business-units/{businessUnitId}:
    get:
      operationId: getProductReviewsSummary
      summary: Get Product Reviews Summary
      description: Retrieve aggregate product review summary for a business unit.
      tags:
      - Product Reviews
      security:
      - ApiKey: []
      parameters:
      - name: businessUnitId
        in: path
        required: true
        schema:
          type: string
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product reviews summary returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReviewsSummary'
  /v1/product-reviews/business-units/{businessUnitId}/reviews:
    get:
      operationId: getProductReviews
      summary: Get Product Reviews
      description: Retrieve public product reviews for a business unit.
      tags:
      - Product Reviews
      security:
      - ApiKey: []
      parameters:
      - name: businessUnitId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product reviews returned
  /v1/product-reviews/business-units/{businessUnitId}/batch-summaries:
    post:
      operationId: getBatchProductReviewsSummaries
      summary: Get Batch Product Reviews Summaries
      description: Get product review summaries for multiple SKUs in a single request.
      tags:
      - Product Reviews
      security:
      - ApiKey: []
      parameters:
      - name: businessUnitId
        in: path
        required: true
        schema:
          type: string
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skus:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Batch summaries returned
  /v1/product-reviews/business-units/{businessUnitId}/attribute-summaries:
    post:
      operationId: getBatchAttributeRatingSummaries
      summary: Get Batch Attribute Rating Summaries
      description: Get batch attribute rating summaries for multiple products.
      tags:
      - Product Reviews
      security:
      - ApiKey: []
      parameters:
      - name: businessUnitId
        in: path
        required: true
        schema:
          type: string
      - name: apikey
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skus:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Attribute rating summaries returned
components:
  schemas:
    ProductReviewsSummary:
      type: object
      properties:
        businessUnitId:
          type: string
        numberOfReviews:
          type: integer
        starsAverage:
          type: number
          format: double
        stars:
          type: object
          properties:
            oneStar:
              type: integer
            twoStars:
              type: integer
            threeStars:
              type: integer
            fourStars:
              type: integer
            fiveStars:
              type: integer
  securitySchemes:
    ApiKey:
      type: apiKey
      in: query
      name: apikey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://authenticate.trustpilot.com/oauth/connect/authorize
          tokenUrl: https://authenticate.trustpilot.com/oauth/token
          scopes:
            business.review.read: Read private review data
